@import "tailwindcss";

@theme {
  --color-cream: #efefea;
  --color-accent-orange: #ff612f;
  --color-accent-purple: #d0b4f4;
  --color-accent-yellow: #ffc52f;
  --font-archivo: var(--font-archivo);
  --font-dela: var(--font-dela);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 3.5rem; /* 56px = h-14 navbar */
}

body {
  background-color: #efefea;
  color: #000000;
  font-family: var(--font-archivo), Arial, sans-serif;
}
